body{
    background-color: blue;
    color: #fafafa;
}
.bgradio{
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
    color: black;
}
.bgradio input[type =radio]{
    padding: 5%;
    margin-left: 2%;
    height: 25px;
    width: 25px;
}

.bgradio label{
    background-color: white;
    padding: 5%;   
    margin: 1%;
    border-radius: 50%;
    border: 2px solid;
}
