body{
    background-color: blue;
    color: #fafafa;
}
.bgradio{
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
    color: black;
}
.bgradio input[type =radio]{
    padding: 5%;
    margin-left: 2%;
    height: 25px;
    width: 25px;
}

.bgradio label{
    background-color: white;
    padding: 5%;   
    margin: 1%;
    border-radius: 50%;
    border: 2px solid;
}

.customtable{
    text-align: center;
    width: 100%;
    background-color: aqua;
    color: black;
    border-radius: 15px;
}

.customtable table{
    width: 50%;
}

.customtable tr{
    font-size: 20px;
}

.question-css{
    font-size: 22px;
}